:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    /* basic */
    --primary: #ff2b51;
    --primary-dark: #cd082b;
    --on-primary: #ffffff;
    --primary-variant-judge: #ff842b;
    --disabled: #908d9e;
    --secondary: #d6d5dc;
    --tertiary-dark: #6c6a7d;

    /* utilities */
    --alert: #ea1a40;
    --warning: #ffb800;
    --online: #41de1a;
    --success: #27c200;
    --user-avatar: #8ddef0;
    --info: #eef1f4;

    /* backgrounds */
    --bg-primary: #f5f5f5;
    --bg-primary-dark: #080a0f;
    --bg-secondary: #ebebed;
    --bg-secondary-medium: #c6c5cf;
    --bg-secondary-ios: #efeff1;
    --bg-base: #ffffff;
    --bg-tertiary-dark: #38354d;

    /* highlights */
    --bg-me: #13151d;
    --bg-error: #ffebef;
    --bg-widgets: #13151d;
    --bg-upload: #d0f7c6;
    --bg-success: #eefdea;

    /* text */
    --text-primary: #080a0f;
    --text-on-primary: #ffffff;
    --text-primary-light: #38354d;
    --text-secondary: #72747b;
    --text-secondary-light: #b2b2b8;
    --text-disabled: #cacaca;
    --text-black: #000000;

    /* dividers and strokes */
    --divider-dark: #38354d;
    --divider-medium: #d6d5dc;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
input,
label {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-feature-settings: 'clig' off, 'liga' off;
    color: var(--text-primary);
}

h1,
h2,
h3 {
    font-weight: 700;
}

h4 {
    font-weight: 600;
}

h1 {
    font-size: 32px;
    line-height: 34px;
    letter-spacing: -1px;
}
h2 {
    font-size: 22px;
    line-height: 28px;
}
h3 {
    font-size: 18px;
    line-height: 28px;
}
h4 {
    font-size: 16px;
    line-height: 20px;
}

p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

button {
    border: unset;
}
